<%= content_for :title, "Tally | About" %>
<%= content_for :page_heading, "About" %>
 <p>Created for the <a href="http://hackathon.slashrocket.io" title="Code Launch 2015" target="_blank">Code Launch 2015</a> by <a href="http://slashrocket.io" title="Slash Rocket Web Development Community" target="_blank">Slash Rocket</a>, Tally is a simple and intuitive time management and goal setting web application. 
  </p>