<%= content_for :title, "Tally | Home" %>
<%= content_for :page_heading do %>
<%=  "Tally" %> 
<span class="glyphicon glyphicon-check" aria-hidden="true"></span>

<% end %>

<p>Tally  is the result of the <a href="http://hackathon.slashrocket.io" title="Code Launch 2015" target="_blank">Code Launch 2015</a> hackathon from the web development community, <a href="http://slashrocket.io" title="Slash Rocket Web Development Community" target="_blank">Slash Rocket</a>. </p>
<p>The objective is simple: a time management application that helps you track your goals.</p>
  
