<%= form_for(@goal) do |f| %>
  
  <div class="field">
    <%= f.text_field :name, placeholder: "Goal name" %>
    <%= f.text_area :description, placeholder: "Description (optional)" %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>