<%= form_for @goal  do |f| %>
    <p><%= f.text_field :name, placeholder: "Goal name" %> </p>
    <p><%= f.text_area :description, placeholder: "Description (optional)" %></p>
  <%= f.submit "Submit Goals", class: "btn btn-primary btn-xs" %>
<% end %>


